#add-music-view {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: baseline;
	width: 40%;
	margin-left: 35%;
	height: 10em;
}

.flexrow {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 60%
}

input {
	border: 2px solid #000;
	text-align: center;
}

#addButton {
	margin-left: 25%;
	width: 50%;
	border: 2px solid #000;
	border-radius: .5em;
	font-weight: bold;
}

.nav {
	background-color: #FFB4B0;
	border: 2px solid black;
	margin: 1em;
	width: 94%;
	padding: 1em;
}

li {
	margin-left: 15px;
	margin-right: 15px;
}

.genreCheck {
	text-align: left;
	margin: 1.7em;
}

.form {
	background-color: #4DD7FA;
	border: 2px solid black;
	margin: 1em;
	text-align: center;
	min-height: 30em;
}

.songInfo {
	background-color: #FEFAC0;
	border: 2px solid black;
	margin: 1em;
	min-height: 30em;
}

.songName {
	padding-left: 1em;
	color: #785616;
	font-family: Didot, serif;
}

body {
	width: 100%;
}
.button-container{
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}
#song-section {
	margin: 1em;
}
.artist {
	font-size: 1.5em;
	font-family: skia, sans-serif;
	text-align: right;
}
.album {
	font-size: 1.5em;
	font-family: skia, sans-serif;
	text-align: left;
}
span {
	font-size: .7em;
}





