<div class="col-xs-8 col-xs-offset-2">
	<h1>{{title}}</h1>

	<form id="searchForm">
		<legend>Search for Artists in iTunes</legend>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Artist Name" ng-model="iTunesArtist">
        </div>
        <button type="button" class="btn btn-info" ng-click="searchiTunes()">Search</button>
   </form> 
     
   <div class="panel panel-success" ng-repeat="item in iTunesSongs">
	  <div class="panel-heading">
	    <h3 class="panel-title">{{item.trackName}}</h3>
	  </div>
	  <div class="panel-body">
	     by {{item.artistName}} on the album - {{item.collectionName}}
	  </div>
	  <div class="panel-footer container">
	  	<button type="button" id="{{item.trackId}}" class="btn btn-danger btn-xs" ng-click="addiTunesSong($index)">add</button>
	  </div>
	</div>


	<form>
	  <div class="form-group">
	    <label for="song-name">Song Name</label>
	    <input type="text" class="form-control" id="song-name" placeholder="Title" ng-model="newMusic.title"/>
	  </div>
	  <div class="form-group">
	    <label for="artist">Atrist</label>
	    <input type="text" class="form-control" id="artist" placeholder="Artist" ng-model="newMusic.artist"/>
	  </div>
	  <div class="form-group">
	    <label for="album">Album</label>
	    <input type="text" class="form-control" id="album" placeholder="Album" ng-model="newMusic.album"/>
	  </div>
	  <button type="button" class="btn btn-success" ng-click="addNewMusic()">{{btnText}}</button>
	</form>


</div>