<div class="col-xs-8 col-xs-offset-2">
	<h1>{{title}}</h1>

	<form>
	  <div class="form-group">
	    <label for="song-name">Song Name</label>
	    <input type="text" class="form-control" id="song-name" placeholder="Title" ng-model="newMusic.title"/>
	  </div>
	  <div class="form-group">
	    <label for="artist">Atrist</label>
	    <input type="text" class="form-control" id="artist" placeholder="Artist" ng-model="newMusic.artist"/>
	  </div>
	  <div class="form-group">
	    <label for="album">Album</label>
	    <input type="text" class="form-control" id="album" placeholder="Album" ng-model="newMusic.album"/>
	  </div>
	  <button type="button" class="btn btn-success" ng-click="addNewMusic()">{{btnText}}</button>
	</form>


</div>