<div class="col-xs-8 col-xs-offset-2">
	<div>
		<form id="filterForm">
			<legend>Filter Songs</legend>
			<label>Select an Artist</label>
			<select class="form-control" ng-model="artistSelected">
			  <option selected value="">All Artists</option>
			  <option ng-repeat="item in music | unique: 'artistName'" value="{{item.artistName}}">{{item.artistName}}</option>
			</select>
			<label>Select an Album</label>
			<select class="form-control" ng-model="albumSelected">
			  <option selected value="">All Albums</option>
			  <option ng-repeat="item in music | unique: 'collectionName'" value="{{item.collectionName}}">{{item.collectionName}}</option>
			</select>
		</form>

		<div class="panel panel-success" ng-repeat="item in music | filter: filterSongs | filter:{artistName:artistSelected, collectionName:albumSelected}">
		  <div class="panel-heading">
		    <h3 class="panel-title"><a ng-href="#!/music/{{item.id}}">{{item.trackName}}</a></h3>
		  </div>
		  <div class="panel-body">
		     by {{item.artistName}} on the album - {{item.collectionName}}
		  </div>
		  <div class="panel-footer container">
		  	<button type="button" class="btn btn-danger btn-xs" ng-click="songDelete(item.id)">Delete</button>
		  </div>
		</div>
	</div>
</div>